# redundant codes
temp/*
output/*


# intermediate files
**/__pycache__/*
**/nohup.*
**.pyc
.vscode/*
traceDR.json
notes.md
*.log
*.out
TODO
visualization/*

# test source file
try.py
op_graph_output/*
compiler/try.py