[submodule "simulator"]
	path = simulator
	url = git@github.com:mass-spatialarch/spatial_sim.git
	branch = master
[submodule "buffer/timeloop-512g"]
	path = buffer/timeloop-512g
	url = git@github.com:buxiangqimingle233/timeloop-output.git
